<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  <title>Valhalla Blessings - Gratitude Letters</title>
</head>
<style>
  :root {
    --promary-color: #010815;
  }

  body {
    font-family: EB Garamond, Jost, Roboto Condensed, sans-serif;
    font-weight: 700;
    font-weight: bold;
    background-color: var(--promary-color) !important;
  }

  p {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: .5px;
    color: #c9cbcd;
  }


  h1 {
    font-weight: 900;
    font-size: 52px;
    line-height: 76px;
    letter-spacing: .5px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0;
  }


  a {
    text-decoration: none !important;
    color: white;
  }

  .banner {
    background-color: #010f24a3;
  }

  .btncls {
    width: 100%;

  }

  .nav-link {

    background-color: var(--promary-color) !important;
    color: #ffe7b6 !important;
  }
</style>

<body>
  <!-- Banner Section -->
  <section class="banner py-5">

    <div class="container-lg position-relative">
      <img src="../assets/images/top-left.png" alt="wargaming" class="img-fluid position-absolute top-0 start-0">
      <img src="../assets/images/top-right.png" alt="wargaming" class="img-fluid position-absolute top-0 end-0">
      <img src="../assets/images/bottom-left.png" alt="wargaming" class="img-fluid position-absolute bottom-0 start-0">
      <img src="../assets/images/bottom-right.png" alt="wargaming" class="img-fluid position-absolute bottom-0 end-0">

      <div class="row  px-5 d-flex justify-content-center align-content-center">

        <div class="col-12 col-md-7  ">
          <div class="row py-5 d-flex justify-content-center align-content-center text-start">

            <h1 class="text-lg-start text-center col-12">IF YOU ARE LUCKY…</h1>
            <p style="
              font-weight: 400;
              font-size: 22px;
              letter-spacing: .5px;
              color: #c9cbcd;
            " class="description text-lg-start text-center col-12">Keep sending to increase the chances of getting
              Odin’s favor. Odin
              does not give freely—he challenges those he deems strong enough. When a player earns Odin's attention,
              they
              receive
              <span style="
                color: #fedb94;
                font-size: 22px;
                font-weight: 700;
                line-height: 100%;
              "> a mysterious letter containing a special task.</span>
            </p>
          </div>
        </div>

        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center align-items-center">
            <img src="../assets/images/card.png" alt="wargaming" class="img-fluid"
              style="max-width: 100%; height: auto;">
          </div>
        </div>

      </div>

    </div>
    </div>
  </section>
  <!-- Valhalla Section sent ,received ,rare number only-->
  <section class="valhala py-5">
    <div>
      <ul class="container-lg  nav nav-tabs d-flex align-content-center justify-content-center ">
        <li class="nav-item ">
          <a style="font-weight: 700;
          font-size: 22px;" class="nav-link active border-bottom-0" aria-current="page" href="#">Valhalla</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="container border border-top-0">
          <div class="tab-pane fade show active p-4">
            <div class="d-flex flex-nowrap justify-content-center align-content-center ">
              <div class=" d-flex flex-nowrap justify-content-end ">
                <div class="row justify-content-center align-content-center text-center">
                  <h1 class="col-12">7</h1>
                  <p style="color: rgb(255, 204, 102);" class="col-12">SENT</p>
                </div>
              </div>
              <div class=" border-start border-end d-flex justify-content-center px-0">
                <div class="row justify-content-center align-content-center text-center ">
                  <h1 class="col-12">1</h1>
                  <p style="color: rgb(255, 204, 102);" class="col-12">RECEIVED</p>
                </div>

              </div>
              <div class=" d-flex flex-nowrapjustify-content-start ">
                <div class="row justify-content-center align-content-center text-center">
                  <h1 class="col-12">0</h1>
                  <p style="color: rgb(255, 204, 102);" class="col-12">RARE</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- History Section -->
  <section class="history container-lg">
    <div class="row gap-3 gap-md-0 align-items-center ">
      <div class="col-12 col-md-6">
        <h1 class="text-center text-md-start">HISTORY</h1>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-lg-end justify-content-center">
        <div class="d-flex rounded-pill overflow-hidden border border-2 border-white w-auto" style="height: 56px;">
          <button class="btn btn-lg bg-transparent text-white rounded-start-4 rounded-end-0" id="receivedBtn"
            onclick="showReceived()">RECEIVED</button>
          <button class="btn btn-lg bg-light text-transparent active rounded-end-4 rounded-start-0" id="sentBtn"
            onclick="showSent()">SENT</button>

        </div>
      </div>

    </div>
    <section class="dropdown m-4">
      <div class="row ">
        <div class="col-md-auto justify-content-lg-start d-flex justify-content-center">
          <div id="date-picker" class="d-flex align-items-center gap-2 cursor-pointer">
            <p class="mb-0">CUSTOM PERIOD</p>
            <label for="calendar">
              <img src="../assets/images/callender.png" alt="Calendar" width="26"
                onclick="document.getElementById('calendar').showPicker()">
              <input type="date" id="calendar" style="display: none;">
            </label>

          </div>
        </div>
        <div class="col-md-auto justify-content-lg-start d-flex justify-content-center">
          <div class="d-flex align-items-center gap-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <p class="mb-0">SELECT TEMPLATE</p>
            <img src="../assets/images/arrow-down.png" alt="Arrow" width="26">
          </div>
          <ul class="dropdown-menu p-2 rounded-5">
            <li>
              <input type="search" class="form-control mb-2 rounded-pill" placeholder="Search template">
            </li>
            <li><a class="selectnav         dropdown-item" href="#">ALL</a></li>
            <li><a class="selectnav  dropdown-item" href="#">THOR</a></li>
          </ul>
        </div>
        <div class="col-md-auto justify-content-lg-start d-flex justify-content-center">
          <div class="d-flex align-items-center gap-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <p class="mb-0">SELECT PLAYER</p>
            <img src="../assets/images/arrow-down.png" alt="Arrow" width="26">
          </div>
          <ul class="dropdown-menu p-2 shadow ">
            <li>
              <input type="search" class="form-control mb-2 rounded-pill" placeholder="Search player">
            </li>
            <li class="selectnav         d-flex align-items-center gap-2 px-2">
              <span>ALL</span>
            </li>
            <li class="selectnav d-flex align-items-center gap-2 px-2">
              <span>xKB1504x</span>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class=" py-5 container-md container-sm  justify-content-sm-center justify-content-md-center">
      <div class="">

        <div id="sentSection">
          <div id="cardSection" class="row ">

          </div>
        </div>

        <div id="receivedSection" class="row " style="display: none;">
          <div id="cardSectionReceived" class="row ">

          </div>
        </div>
      </div>
    </section>
    <script>

      const receivedCards = [
        {
          giftimage: "../assets/images/gift.png",
          name: "Thor",
          image: "../assets/images/1747122474_main.png",
          sender: "Thor",
          date: "2025-05-29"
        }
      ];

      const sentCards = [
        {
          giftimage: "../assets/images/gift.png",
          name: "odin",
          image: "../assets/images/1747122417_main.png",
          sender: "Bulma",
          date: "2025-05-25"
        },
        {
          giftimage: "../assets/images/gift.png",
          name: "loky",
          image: "../assets/images/1747122433_main.png",
          sender: "Chi-Chi",
          date: "2025-05-24"
        },
        {
          giftimage: "../assets/images/gift.png",
          name: "freyga",
          image: "../assets/images/1747122449_main.png",
          sender: "Gohan",
          date: "2025-05-23"
        },
        {
          giftimage: "../assets/images/gift.png",
          name: "thor",
          image: "../assets/images/1747122474_main.png",
          sender: "Videl",
          date: "2025-05-22"
        },
        {
          giftimage: "../assets/images/gift.png",
          name: "odin",
          image: "../assets/images/1747122417_main.png",
          sender: "Bulma",
          date: "2025-05-25"
        },
        {
          giftimage: "../assets/images/gift.png",
          name: "loky",
          image: "../assets/images/1747122433_main.png",
          sender: "Chi-Chi",
          date: "2025-05-24"
        },
        {
          giftimage: "../assets/images/gift.png",
          name: "freyga",
          image: "../assets/images/1747122449_main.png",
          sender: "Gohan",
          date: "2025-05-23"
        }
      ];

      function createCard(cardData) {
        return `
        
               <div class="card col-lg-4 col-md-6 col-12  bg-transparent p-3">
      <img src="${cardData.giftimage}" alt="Gift" class="position-absolute top-0 end-0 " ">
  <div class="card-image overflow-hidden">
    <img src="${cardData.image}" alt="${cardData.name}" class="img-fluid w-100 mx-auto d-block">
  </div>
  <hr style="border-color: white; border-width: 2px; margin-bottom: 0px;">
  <div class="card-info row text-white">
    <div class="sender col-6">Sender: ${cardData.sender}</div>
    <div class="date col-6 text-end">Date: ${cardData.date}</div>
  </div>
</div>

            `;
      }

      function loadCards() {
        const sentContainer = document.getElementById('cardSection');
        const receivedContainer = document.getElementById('cardSectionReceived');

        // Load sent cards
        sentContainer.innerHTML = '';
        sentCards.forEach(card => {
          sentContainer.innerHTML += createCard(card);
        });


        // this comment is daadade

        // Load received cards
        receivedContainer.innerHTML = '';
        receivedCards.forEach(card => {
          receivedContainer.innerHTML += createCard(card);
        });
      }



      function showSent() {
        document.getElementById('sentSection').style.display = 'block';
        document.getElementById('receivedSection').style.display = 'none';

        let btn = document.getElementById('sentBtn');
        sentBtn.classList.add('active', 'bg-light', 'text-transparent');
        sentBtn.classList.remove('bg-transparent', 'text-white');

        receivedBtn.classList.remove('active', 'bg-light', 'text-transparent');
        receivedBtn.classList.add('bg-transparent', 'text-white');
      }

      function showReceived() {
        document.getElementById('sentSection').style.display = 'none';
        document.getElementById('receivedSection').style.display = 'block';

        let receivedBtn = document.getElementById('receivedBtn');


        receivedBtn.classList.add('active', 'bg-light', 'text-transparent');
        receivedBtn.classList.remove('bg-transparent', 'text-white');

        sentBtn.classList.remove('active', 'bg-light', 'text-transparent');
        sentBtn.classList.add('bg-transparent', 'text-white');


      }
      document.getElementById('sentBtn').classList.add('active');

      loadCards();


    </script>
  </section>
  <!-- footer -->
  <section class="wrapper">
    <div class="container footer text-center">
      <div
        class="links d-flex align-content-center justify-content-center flex-wrap gap-5 text-decoration-none text-white">
        <a href="https://legal.wargaming.net/en/user-documents/eula/end-user-license-agreement/view">EULA</a><a _
          href="https://legal.wargaming.net/en/user-documents/privacy/privacy-policy/view">PRIVACY POLICY</a><a
          href="https://modernarmor.worldoftanks.com/support/products/wotx/">CUSTOMER
          SUPPORT</a><a id="ot-sdk-btn" class="ot-sdk-show-settings">COOKIE SETTINGS</a>
      </div>
      <img src="../assets/images/logos.png" alt="Wargaming-logo" class="img-fluid my-3">
      <p style="
        font-size: 14px;
        line-height: 19px;
        color: #fff;
        opacity: .7;
      " class="description text-white">
        © 2025 Wargaming.net. All rights reserved. "Wargaming.net" and "World
        of Tanks," along with their respective logos, are trademarks or
        registered trademarks of Wargaming in the USA and other countries. The
        "PS" Family logo is a registered trademark, and "PS4" is a trademark of
        Sony Interactive Entertainment Inc. "Xbox" and the Xbox logos are
        trademarks of the Microsoft group of companies and are used under
        license from Microsoft. </p>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
    crossorigin="anonymous"></script>
</body>

</html>